<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Puissance 4 - {{ .Title }}</title> <!-- Titre de la page -->
</head>

<body>
    <h1>{{ .Title }}</h1>
    <p>{{ .Message }}</p>

    <form method="post" action="/jeu">
        <label for="joueur1">Joueur 1 :</label><br> <!-- Le for sert à lier le label au champ de saisie avec le même id; quand on survole le label, le champ correspondant est mis en avant -->
        <input type="text" name="joueur1" id="joueur1" required><br><br>
        <label for="joueur2">Joueur 2 :</label><br>
        <input type="text" name="joueur2" id="joueur2" required><br><br>
        <button type="submit">Envoyer</button>
    </form> 

    <section>
  <div>
<canvas id="structure" width="2000" height="650"> </canvas> 


        <script>  //pour inserer du code JS dans html

  var canvas = document.getElementById("structure");
var context = canvas.getContext("2d");

var colonnes = 7;
var lignes = 6;
var taille_de_la_cellule = 100;
var taille_du_jeton = 48;

// Calculer la position de départ pour centrer le plateau
var position_x = (canvas.width - colonnes*taille_de_la_cellule) / 2;
var position_y = (canvas.height - lignes*taille_de_la_cellule) / 2;

// Rectangle bleu
context.beginPath();
context.fillStyle = ("#0000A0");
context.rect(position_x, position_y, colonnes*taille_de_la_cellule, lignes*taille_de_la_cellule);
context.fill();
context.closePath();

// Cercles blancs
for (var i = 0; i < lignes; i++) {
    for (var j = 0; j < colonnes; j++) {
        context.beginPath();
        context.arc(position_x + j*taille_de_la_cellule + taille_de_la_cellule / 2, position_y + i*taille_de_la_cellule + taille_de_la_cellule / 2, taille_du_jeton, 0, Math.PI*2, false);
        context.fillStyle = "white";
        context.fill();
    }

}
</script> 
   </div>
   </section>
    <div>
        <nav>
            <a href="/">Accueil</a> |
            <a href="/about">À propos</a> |
            <a href="/contact">Contact</a> 

        </nav>
    </div>
</body>

</html>