<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ .Title }}</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Accueil</a></li>
            <li><a href="/jeu" class="nav-links">Jeu</a></li>
            <li><a href="/contact" class="nav-links">Contacts</a></li>
        </ul>
    </nav>
    <h1>Leaderboard</h1>
    <h2>Top 10 des meilleurs joueurs</h2>
    <p></p>
</body>

</html>