<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ .Title }}</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Accueil</a></li>
            <li><a href="/jeu" class="nav-links">Jeu</a></li>
            <li><a href="/contact" class="nav-links">Contacts</a></li>
        </ul>
    </nav>
    <div class="classement">
        <div class="winleaderboard">
            <p class="pwinleaderboard"> <strong>🎖️ Classement 🎖️</strong></p>
            <ul>
                {{range .Victoires}}
                <li class="nomjoueurs">{{.Nom}} : {{.Victoire}} victoires 🏆</li>
                {{end}}
            </ul>


        </div>
        <div class="history">
            <p class="phistory">
                <strong>⭐ Historique de parties ⭐</strong></p>
            <ul>
                {{range .Historique}}
                <li class="nomjoueurs">{{.Date}} - {{.J1}} vs {{.J2}} - Victoire de {{.Winner}} 🏆</li>
                {{end}}
            </ul>
        </div>
        <div class="turnleaderboard">
            <p class="ptunrleaderboard">
            <strong>🧠 Meilleure Logique 🧠</strong></p>
        </div>
    </div>
</body>

</html>