<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ .Title }}</title>
</head>

<body>
    <h1>{{ .Title }}</h1>
    <p>{{ .Message }}</p>

    <form method="post" action="/contact">
        <label>Nom :</label><br>
        <input type="text" name="name"><br><br>
        <label>Message :</label><br>
        <textarea name="msg"></textarea><br><br>
        <button type="submit">Envoyer</button>
    </form>


    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Accueil</a></li>
            <li><a href="/jeu" class="nav-links">Jeu</a></li>
            <li><a href="/leaderboard" class="nav-links">Leaderboard</a></li>
            
        </div>
</body>

</html>