<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>Puissance 4 - {{ .Title }}</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/jeu" class="nav-links">Jeu</a></li>
            <li><a href="/about" class="nav-links">À propos</a></li>
            <li><a href="/contact" class="nav-links">Contacts</a></li>
        </ul>
    </nav>
    <h1>{{ .Title }}</h1>
    <p>{{ .Message }}</p>

</body>

</html>