<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <title>{{ .Title }}</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-menu">
            <li><a href="/" class="nav-links">Accueil</a></li>
            <li><a href="/jeu" class="nav-links">Jeu</a></li>
            <li><a href="/contact" class="nav-links">Contacts</a></li>
        </ul>
    </nav>
    <div class="classement">
        <div class="winleaderboard">
            <p class="pwinleaderboard">
                Classement de Victoires
            </p>
        </div>
        <div class="history">
            <p class="phistory">
                Historique de parties
            </p>
        </div>
        <div class="turnleaderboard">
            <p class="ptunrleaderboard">
                Meilleur Joueur
            </p>
        </div>
    </div>
    <p></p>
</body>

</html>