h1{
    display: flex;
    align-items: center;
    justify-content : center;
}

p{
    display: flex;
    align-items: center;
    justify-content : center;
}

div{
    display: flex;
    align-items: center;
    justify-content : center;
}

a{
    text-decoration: none;
    
}

a:hover{
    text-decoration: none;
    color: #000000;
    
}

a:visited {
  color: #000000;
}

form{
    display: flex;
    align-items: center;
    justify-content : center;
    flex-direction: column;
}

.center{
    background: rgb(175, 179, 176);
    padding: 6%;
    border: 10px solid #000000;
    margin: 1vw;
}